@import url("reset.css");
@mixin whb($w,$h,$b){
    width: $w;
    height: $h;
    background: $b;
}
@mixin box($row:row){  //column
    display: flex;
    flex-direction:$row;
}
@mixin font($val,$val2,$val3,$name){
    .#{$name}-14{font-size:$val;color:blue;}
    .#{$name}-18{font-size:$val2;color:red;}
    .#{$name}-22{font-size:$val3;color:green;}
}
@include font(14px,18px,22px,spc);
html{
    font-size:62.5%;
}
html,body,.full{
    @include whb(100%,100%,none);
}
.full{
    @include box(column);
    background: #F0F0F0;
    header{
        @include whb(100%,4rem,#4194f0);
        @include box();
        padding: 0 1rem;
        box-sizing: border-box;
        .left{
            @include whb(2.5rem,auto,#4194f0);
            line-height: 4.5rem;
            img{
                @include whb(2rem,1.5rem,none);
            }
        }
        .center{
            flex: 1;
            font-size: 1.6rem;
            color: #fff;
            line-height: 4rem;
            text-align: center;
        }
        .right{
            @include whb(2.5rem,auto,#4194f0);
        }
    }
    section{
        flex: 1;
        overflow: auto;
        &::-webkit-scrollbar{width: 0;}
        .One{
            @include whb(100%,14rem,none);
            background: url("../img/conten.jpg");
            dl{
                text-align: center;
                padding-top: 3rem;
                box-sizing: border-box;
                dt{img{@include whb(6.3rem,6.3rem,none);border-radius: 3rem;}}
                dd{color: #fff;font-size: 1.5rem;font-weight: bold;}
            }
        }
        .Two{
            @include whb(100%,9rem,white);
            @include box();
            img{@include whb(4.2rem,4.2rem,none);border-radius: 3rem;}
            text-align: center;
            font-size: 1.4rem;
            .Two-left{
                flex: 1;
                margin-top: 1.3rem;
                a{color: #FF0000;}
            }
            .Two-content{
                flex: 1;
                margin-top: 1.3rem;
            }
            .Two-right{
                flex: 1;
                margin-top: 1.3rem;
            }
        }
        .Three{
           @include whb(100%,4rem,#fff);
           border-top: 1px solid #CDCDCD;
            @include box();
            padding: 0 1rem;
            margin-top: 1rem;
            box-sizing: border-box;
            .Three-left{
                @include whb(2.5rem,auto,none);
                line-height: 4.5rem;
                img{
                    @include whb(1.7rem,1.7rem,none);
                }
            }
            .Three-content{
                flex: 1;
                font-size: 1.6rem;
                line-height: 4rem;
                text-align: left;
            }
            .Three-right{
                @include whb(2.5rem,auto,none);
                line-height: 4.5rem;
                text-align: right;
                img{
                    @include whb(0.8rem,1.5rem,none);
                }
            } 
        }
        .Four{
           @include whb(100%,4rem,#fff);
            @include box();
            padding: 0 1rem;
            border-top: 1px solid #CDCDCD;
            box-sizing: border-box;
            .Four-left{
                @include whb(2.5rem,auto,none);
                line-height: 4.5rem;
                img{
                    @include whb(1.7rem,1.7rem,none);
                }
            }
            .Four-content{
                flex: 1;
                font-size: 1.6rem;
                line-height: 4rem;
                text-align: left;
            }
            .Four-right{
                @include whb(2.5rem,auto,none);
                line-height: 4.5rem;
                text-align: right;
                img{
                    @include whb(0.8rem,1.5rem,none);
                }
            } 
        }
        .Five{
           @include whb(100%,5.5rem,#fff);
            @include box();
            padding: 0 1rem;
            border-top: 1px solid #CDCDCD;
            box-sizing: border-box;
            margin-bottom: 7.8rem;
            .Five-left{
                @include whb(2.5rem,auto,none);
                line-height: 5.5rem;
                img{
                    @include whb(1.7rem,1.7rem,none);
                }
            }
            .Five-content{
                flex: 1;
                font-size: 1.6rem;
                text-align: left;
                a{
                    font-size: 1.6rem;
                    color: #4194F0;
                    display: block;
                    margin: 1rem 0 0 1rem;
                }
                span{
                    display: block;
                    font-size: 0.9rem;
                    color: #808080;
                    margin-left:1rem;
                }
            }
        }
    }
    footer{
        @include whb(100%,5rem,white);
        @include box();
        img{@include whb(2.3rem,2.4rem,none);}
        text-align: center;
        .f-left{
            flex: 1;
            margin-top: 0.5rem;
        }
        .f-content{
            flex: 1;
            margin-top: 0.5rem;
        }
        .f-right{
            flex: 1;
            margin-top: 0.5rem;
            color: #5A95CD;
        }
    }
}
@media screen and(min-width:375px) and(max-width:414px){
    .full{
        header{
            background: palevioletred;
            .left{background: palevioletred;}
            .right{background: palevioletred;}
        }
        footer{
            background: lightblue;
        }
    }
}
